<div style="position: relative;">
  <div class="overlay"></div>
  <swiper
style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
[speed]="1500"
[parallax]="true"
[autoplay]="{
    delay: 3500,
    disableOnInteraction: true
  }"
[pagination]="false"
[navigation]="false"
[allowTouchMove] = "false"
class="adSwiper"
>
<div
  slot="container-start"
  class="parallax-bg"
  style="background-image: url('assets/patient-bg.jpg')"
  data-swiper-parallax="-23%"
></div>
<ng-template swiperSlide>
  <div class="title" data-swiper-parallax="-300">Slide 1</div>
  <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
  <div class="text" data-swiper-parallax="-100">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
      laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
      Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
      Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper
      velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut
      libero. Aenean feugiat non eros quis feugiat.
    </p>
  </div> </ng-template
><ng-template swiperSlide>
  <div class="title" data-swiper-parallax="-300">Slide 2</div>
  <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
  <div class="text" data-swiper-parallax="-100">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
      laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
      Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
      Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper
      velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut
      libero. Aenean feugiat non eros quis feugiat.
    </p>
  </div> </ng-template
><ng-template swiperSlide>
  <div class="title" data-swiper-parallax="-300">Slide 3</div>
  <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
  <div class="text" data-swiper-parallax="-100">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
      laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
      Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
      Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper
      velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut
      libero. Aenean feugiat non eros quis feugiat.
    </p>
  </div>
</ng-template>
</swiper>
</div>


<div class="holder ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-lg-8  col-md-12 col-sm-12 col-12">
        <router-outlet></router-outlet>
      </div>
      <div class=" d-flex justify-content-center col-xxl-4  col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 sticky-top">
        <div>
          <filter></filter>
        </div>
      </div>
    </div>
  </div>
</div>