<div class="holder">
    <mat-card>
        <div class="prog-bar mb-2" *ngIf="isLogging">
            <mat-progress-bar style="border-radius: 5px;" mode="query"></mat-progress-bar>
          </div>
        <mat-card-header class="justify-content-center">
            <mat-card-title>
                Login
            </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content>
            <form 
            [formGroup]="logIn" 
            (ngSubmit)="log(logIn.value)"
            class="d-flex flex-column"
            >
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Last Name" formControlName="email">
                    <mat-error>This field is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>                    <mat-error>This field is required!</mat-error>
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="inactive">
                    <h5>Your account is disabled!</h5>
                    <h6>Please contact with admin.</h6>
                </div>
                <mat-card-actions class="d-flex justify-content-center">
                    <button mat-raised-button class="mainBtn" style="width: 250px;" >Login</button>
                </mat-card-actions>
            </form>
            <div style="position: relative;">
                <hr>
                <span
                style="position:absolute;
                    top: -13px;
                    left: 185px;"
                >or</span>
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column">
                <h5>Login with</h5>
                <div class="d-flex flex-row">

                    <button mat-icon-button class="facebook">
                        <fa-icon [icon] ="facebook" ></fa-icon>
                    </button>
                    <button mat-icon-button  class="google">
                        <fa-icon [icon] ="google"></fa-icon>
                    </button>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-column justify-content-center">
                <a routerLink="/auth/signup">Don't have account?</a>
                <a routerLink="/auth/doctor/signup">Join as a doctor</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>