<form [formGroup]="form" (ngSubmit)="change(form.value)">
    <mat-form-field appearance="outline">
        <mat-label>Old password</mat-label>
        <input matInput type="password" formControlName="oldPassword">
        <mat-error *ngIf="message.length > 0">{{message}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput type="password" formControlName="newPassword" #nPassword>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" formControlName="repeatPassword" #rPassword>
        <mat-error *ngIf="rPassword.value != nPassword.value">Unmatched repeat password!</mat-error>
    </mat-form-field>

    <div>
        <button mat-raised-button [disabled]="rPassword.value != nPassword.value" class="mainBtn">Change</button>
    </div>
</form>