<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" *ngIf="!isDeleting">
          
          {{isEditing ? 'Edit time' : 'Add new time'}}
      </h4>
      <h4 class="modal-title text-danger" id="modal-basic-title" *ngIf="isDeleting">
        Attention!
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="d(clearForm())"
      ></button>
    </div>
    <div class="modal-body">
      <h5 *ngIf="isDeleting">
        Are you sure you want to delete this time ?
      </h5>

      <form [formGroup]="form" (ngSubmit)="onAdd(form.value)" *ngIf="!isDeleting" class="d-flex flex-column align-items-center">
        <mat-form-field>
            <mat-label>Select day</mat-label>
            <mat-select formControlName="day">
                <mat-option *ngFor="let day of days" [value]="day.day">
                    {{day.day}}
                </mat-option>
            </mat-select>
            <mat-error>This field is required!</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>From</mat-label>
            <input matInput type="time" formControlName="from">
            <mat-error>This field is required!</mat-error>

        </mat-form-field>
        <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput type="time" formControlName="to">
            <mat-error>This field is required!</mat-error>

        </mat-form-field>

        <div class="modal-footer mt-2 w-100">
            <button mat-raised-button class="mainBtn me-2">Add</button>
            <button mat-raised-button type="button" (click)="c(clearForm())">Cancel</button>
        </div>
      </form>
    </div>
   
    <div class="modal-footer" *ngIf="isDeleting">
      <button mat-raised-button class="mainBtn me-2" (click)="onDelete()">Delete</button>
      <button mat-raised-button 
      (click)="c()"
      >Close</button>
    </div>
  </ng-template>
  
  
  <div>

      <button mat-raised-button class="mainBtn" (click)="addTime(content)">
            <mat-icon>timer</mat-icon>
            Add new time
            </button>
  </div>

  <div class="text-center p-2 mt-3" *ngIf="dataSource.length == 0  && !isLoading ">
    <h5>No availabe times!</h5>
  </div>

  <div
  class="d-flex justify-content-center align-items-center d-none"
  *ngIf="isLoading"
>
  <mat-spinner></mat-spinner>
</div>
<table mat-table [dataSource]="dataSource" class="w-100" *ngIf="dataSource.length > 0 && !isLoading">


  
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef> Day </th>
      <td mat-cell *matCellDef="let element">{{element.day}} </td>
    </ng-container>
  
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.from | date :'shortTime'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.to | date : 'shortTime' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="editTime(content , element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTime(content,element)">
          <mat-icon>delete</mat-icon>
        </button>
    </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>