/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

*{
  font-family: 'Figtree', sans-serif;}
html, body { height: 100%; }
body { margin: 0;   scroll-behavior :smooth; }
.row {
	padding: 0 !important;
}

.container{
  padding: 0 !important;
  margin: 0 auto !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 30px !important;
}

.swiper-button-prev, .swiper-button-next {
  color: #3894ad !important;
}

.adSwiper .swiper-slide { 
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke:  #3894ad;
}
.mat-toolbar {
  background-color: #3894ad;
}


.selectLoad svg {
  width: 20px !important;
  height: 20px !important;
}

.tooltop-font{
  font-size: 16px;
}

.mainBtn {
    background-color: #3894ad;
    color: #fff;
    transition: 0.4s  ease-in-out !important;
    border-radius: 5px;
}

.mainBtn:hover{
  background-color: #136278;

}




