

.swiper {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}




.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    margin-bottom: 8px;
}


img {
    width: 100%;
    height: 100%;
}

.details{
    padding: 8px;
    border-right:1px solid #ccc ;
}

@media (max-width : 768px) {
    .details{
        border-right:unset;
    }    
}

.services  ul {
    padding-left: 32px;
}

.services  ul li {
    margin-right: 20px;
    list-style: disc;
}